:root {
  --border: light-dark(#eaeaea, #6b6b6b);
  --fg: light-dark(#000, #b0b0b0);
  --bg: light-dark(#f2f2f2, #3d3d3d);
  --bg-alt: light-dark(#fff, #202125);
  --bg-entry: light-dark(#8eb6ff, #3d5d98);
  --fg-hover: light-dark(#000, #363636);
  --bg-hover: light-dark(#929191, #c6c6c6);
  --time: 300ms;
  --size: 32px;
}
html {
  color-scheme: light dark;
  background-color: var(--bg-alt);
}
body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: min-content;
  margin: 0;
  max-height: 600px;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  overflow: hidden;
}
body,
input {
  color: var(--fg);
}
fieldset {
  border: none;
  height: 0;
  opacity: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}
body[data-expand="true"] fieldset,
body.search.sexpand fieldset {
  display: unset;
  height: unset;
  opacity: 1;
  overflow: auto;
  border-top: dashed 1px var(--border);
}
legend {
  text-align: center;
  font-size: 85%;
}
#top,
#bottom {
  display: grid;
  min-height: 43px;
}
#toolbar {
  background-color: var(--bg);
  display: flex;
  width: 100vw;
  justify-content: end;
  align-items: center;
}
#toast {
  flex: 1;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#rate,
#faqs,
#options,
#down {
  display: grid;
  place-content: center;
  margin: 5px;
  border: none;
  background-color: transparent;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 50%;
  fill: var(--fg);
  aspect-ratio: 1 / 1;
}
#rate *,
#faqs *,
#options *,
#down * {
  pointer-events: none;
}
#rate[data-hide="true"] {
  display: none;
}
#down path {
  fill: var(--fg);
  transition: transform var(--time);
}
#rate:hover,
#faqs:hover,
#options:hover,
#down:hover {
  fill: var(--fg-hover);
  background-color: var(--bg-hover);
}
#down:hover path {
  fill: var(--fg-hover);
}
#rate:active,
#faqs:active,
#options:active,
#down:active {
  background-color: transparent;
}
body[data-expand="true"] #down {
  transform: rotate(180deg);
}
#settings {
  display: none;
  border-top: solid 1px var(--border);
  background-color: var(--bg);
  grid-template-columns: 80px 80px min-content 1fr min-content;
  width: 100vw;
}

@media screen and (max-width: 400px) {
  #settings {
    grid-template-columns: 80px 80px 1fr 1fr 1fr;
  }
}
#settings input[type="number"] {
  padding: 10px;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
}
#settings input[type="number"]:focus {
  background-color: var(--bg-alt);
}
#settings input[type="button"] {
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
#settings input[type="button"]:hover {
  color: var(--bg);
  background-color: var(--bg-hover);
}
body[data-settings="true"] #settings {
  display: grid;
}
.entry {
  width: calc(var(--size) + 10px);
  height: calc(var(--size) + 10px);
  background-repeat: no-repeat;
  background-size: var(--size);
  background-position: center;
  cursor: pointer;
  border-bottom: solid 1px transparent;
  transition: border-color 100ms;
  outline: none;
}
body:not(:has(.entry:focus)) .entry.highest {
  background-color: var(--bg-entry);
}
.entry:focus {
  background-color: var(--bg-entry);
}
.entry:hover {
  border-bottom-color: red;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
#search {
  padding-inline: 5px;
  outline: none;
  height: 28px;
  border: solid 1px var(--bg);
  text-align: center;
  background-color: transparent;
}
#search:focus {
  background-color: var(--bg-alt);
}
#search.error {
  background-color: #ffd8d8;
}
body.search .entry:not(.search) {
  display: none;
}
.hidden {
  display: none;
}
